body {
    background-color: #eeeeee;
    margin: 0 auto;
}
.main-menu {
    background-color: #206169;
}
a.main-menu {
    color: #ffffff;
}
a.main-menu:hover {
    color: #2cdbd3;
}
div.main-content {
    color: #464646;
}
h1 {
    color: #2c2c2c;
    text-transform: uppercase;
    letter-spacing: 3px;
}
th {
    text-transform: uppercase;
}