body {
    background-color: #eeeeee;
    margin: 0 auto;
}
div.main-menu {
    background-color: #1b4449;
    border-bottom: 1px solid #0f2c30;
}
a.main-menu, a.bar-link {
    color: #ffffff;
}
a.main-menu:hover, a.bar-link:hover {
    color: #2cdbd3;
}
div.main-content {
    color: #464646;
}
div.bar {
    background-color: #0f2c30;
    font-size: 13px;
}
h1 {
    color: #2c2c2c;
    text-transform: uppercase;
    letter-spacing: 3px;
}
th {
    text-transform: uppercase;
}
li {
    line-height: 0px;
}