{% extends 'base.html.twig' %}

{% block title %}Nutrient Diary{% endblock %}

{% block body %}

    <div class="row">
        <div class="col-lg bg-light m-2 p-5 content">
         <h1>Nutrient Diary</h1>
         <h4 class="py-4">Welcome to Nutrient Diary - simple app to calculate consumed nutrient.</h4>
         <div class="alert alert-success">
            With the application, you can easily control consumed nutrients. 
            Nutrient Diary is useful for people who are on a diet. 
            Every day shows you the quantity of consumed products. It also tell you how many nutrients (e.g. carbohydrates) you have consumed during the day. 
            Moreover you can set the nutrient target to control how many nutrients you should still eat. 
            <br>To start just login or register.
         </div>
      </div>
   </div>

{% endblock %}
