{% extends 'base.html.twig' %}

{% block title %}Nutrient Diary{% endblock %}

{% block body %}

   <div class="container-lg main-content my-3 p-3">
      <h1>Example header</h1>
      This text was written for an example
   </div>

{% endblock %}
